<h1 style="text-align: center">Burger Maker</h1>
<div class="row">
    <div class="col-6">
        <ul class="list-group">
            {{#each burgerHBS}}
            <li class="list-group-item">
                <form action='/burger/{{this.id}}' method="post">
                    {{this.id}}/Burger: <b>{{this.burger_name}}</b>
                    <button style="float: right" class="btn btn-primary btn-lg float-right">DEVOUR</button>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-6">
        <ul class="list-group mb-5">
            {{#each burgerHBS2}}
            <li class="list-group-item">
                {{this.id}}/Burger Devoured: <b>{{this.burger_name}}</b>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="card col-12">
        <div class="card-header">
            <h4>New Burger Order</h4>
        </div>
        <div class="card-body">
            <form id="form1">
                <textarea id="textarea1" type="text" name="burgerEntry" class="form-control"></textarea><span id="error" class="d-none" style="color: red">Empty content!</span>
                <br />
                <button id="submit" onclick="submit(event)" class="btn btn-primary btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>